html

    head

        title= name

        meta(http-equiv="content-type" content="text/html;charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="node_modules/xterm/css/xterm.css")

        link(rel="stylesheet" href="assets/css/index.css")

    body

        div(class="flex-container")

            div(class="flex-item1")
                div(id="header")
                    b EDITOR ➥ v86
                    button(id="button" disabled) Run
                    select(id="select")
                        option(value="c") tcc
                        option(value="c") gcc
                        option(value="python") python

            div(class="flex-item2")
                div(id="editor")

            div(class="flex-item3")

            div(class="flex-item4")
                div(id="parrot")

            script(type="text/javascript" src="node_modules/xterm/lib/xterm.js")
            script(type="text/javascript" src="node_modules/xterm-addon-fit/lib/xterm-addon-fit.js")
            script(type="text/javascript" src="node_modules/monaco-editor/min/vs/loader.js")

            script(type="text/javascript" src="assets/js/libv86.js")

            script(type="text/javascript") var bootable = !{JSON.stringify(bootable)};

            script(type="text/javascript" src="assets/js/editor.js")
            script(type="text/javascript" src="assets/js/emulator.js")