html 

    head 

        meta(http-equiv="content-type" content="text/html;charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="assets/css/index.css")

body

    h1 bootables

    table            
        each _, name in bootables
            tr: td: a(href="bootable?name=" + name)= name