//- INDEX TEMPLATE

html 
html

    head 

        meta(http-equiv="content-type" content="text/html;charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")

        link(rel="stylesheet" href="assets/css/index.css")
        if ["vs-dark", "hc-black"].includes(theme)
            link(rel="stylesheet" href="assets/css/dark.css")

    body

        h1 bootables

        table            
            each _, bootable_name in bootables
                tr: td: a(href="show?theme=" + theme + "&bootable_name=" + bootable_name)= bootable_name

        script(type="text/javascript").
            let url = new URL(window.location.href);
            //- monaco theme
            if (!url.searchParams.get("theme"))
                if(confirm("Do you want to use the dark themes?"))
                    window.open("/?theme=vs-dark", "_self");