body {
    /* color */
    background-color: #1e1e1e;
    color: #fff;
}

/**/

#select {
    /* color */
    background-color: #1e1e1e;
    color: #32cd32;
}

#button {
    /* color */
    background-color: #1e1e1e;
    color: #32cd32;
}

#button:disabled {
    /* color */
    color: #393939;
}

#button:hover {
    /* color */
    color: #393939;
}

#button:active {
    /* color */
    color: #006400;
}